html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* reset css */

@font-face {
  font-family: "Gotham";
  src: url("fonts/Gotham-Bold.eot"); /* IE9 Compat Modes */
  src: url("fonts/Gotham-Bold.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("fonts/Gotham-Bold.woff") format("woff"),
    /* Modern Browsers */ url("fonts/Gotham-Bold.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("fonts/Gotham-Bold.svg#svgFontName")
      format("svg"); /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: aquamarine;
  position: relative;
}

header {
  background-color: #ffffff;
  position: sticky;
  top: 0;
}

.header-container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 15px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
}

.left-svg-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  gap: 10px;
}

.header-logo {
  display: block;
  width: 100%;
  padding: 15px 15px;
}

.fa-solid.fa-bars {
  font-size: 32px;
}

.right-svg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
}

.login {
  display: none;
}

.shopping {
  display: none;
}

.flex-space-between {
  display: none;
}

.nav-container {
  display: none;
}

/* 雙11 section */
.double11-container {
  display: flex;
  flex-direction: column;
}

.double11 {
  max-width: 100%;
}

.double11-detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fbf6f3;
  padding: 24px 16px;
}

.double-date {
  color: #333333;
  display: inline-block;
  font-family: "Gotham Rounded Book";
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  margin: 0 0 8px;
  padding: 6px 8px;
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.double11-title {
  color: #333333;
  font-size: 35px;
  font-family: "Gotham Rounded Book";
  line-height: 39px;
  margin: 0 0 8px;
  text-align: center;
}

.double11-content p {
  color: #333333;
  font-size: 14px;
  line-height: 18px;
  font-family: "Gotham Rounded Book";
  text-align: center;
  padding-bottom: 8px;
}

.double-link a {
  border-radius: 2px;
  color: #8c0b26;
  display: inline;
  font-family: "Gotham Rounded Book";
  font-size: 11px;
  text-align: center;
  text-transform: uppercase;
}

.dot-container {
  padding: 30px 0;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.black-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: black;
}

.gray-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #cfcac9;
}

/* 未來 section */
.feature-section {
  background-color: #ffffff;
}

.feature-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 70px 10px 20px 10px;
}

.feature-title {
  color: #333333;
  font-size: 48px;
  font-family: "Gotham Rounded Book";
  line-height: 52px;
  margin: 0 80px 16px;
  text-align: center;
}

.feature-content-container {
  display: flex;
  flex-direction: column;
}

.feature-content {
  display: inline;
  font-size: 12px;
  letter-spacing: 3.5px;
  font-family: "Gotham Rounded Book";
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
}
.flower {
  max-width: 100%;
}

/* 四大保證 section */
.reassurance-section {
  width: 100%;
  background-color: #fbf6f3;
}

.reassurance-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 16px;
  padding: 8px 0;
}

.reassurance-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px 16px;
  gap: 10px;
}

.free-delivery-icon {
  width: 32px;
  aspect-ratio: 1;
}
.reassurance-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #333333;
  font-family: "Gotham Rounded Book";
  font-size: 14px;
  line-height: 18px;
}

/* 肌膚保養 section */
.skin-section {
  max-width: 100%;
  background-color: #ffffff;
}

.skin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.skin-title {
  color: #333333;
  font-size: 85px;
  font-family: "Gotham Rounded Book";
  line-height: 89px;
  margin: 70.55px 0 24px;
  text-align: center;
}

.skin-text {
  color: #333333;
  font-size: 14px;
  letter-spacing: 4.004px;
  line-height: 26px;
  margin: 0 0 24px;
  text-align: center;
  text-transform: uppercase;
}

.skin-card-container {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding: 0 10px;
}

.makeup-small {
  width: 100%;
}

.skin-card {
  padding: 20px 20px;
}

.skin-item {
  color: #333333;
  font-size: 24px;
  line-height: 28px;
  text-align: left;
  text-transform: uppercase;
  padding-top: 5px;
}

.skin-detail a {
  color: #333333;
  display: inline-block;
  text-align: left;
  font-size: 11px;
  border-radius: 3px;
}
/* 五星推薦 section */
.fivestar-section {
  padding: 20px;
  background-color: #fbf6f3;
}

.fivestar {
  width: 100%;
}

.fivestar-detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.fivestar-proof {
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 3.5px;
  color: #333;
  padding: 30px 0 20px 0;
}

.fa-solid.fa-star {
  color: red;
}

.fivestar-title {
  color: #333333;
  font-size: 35px;
  line-height: 39px;
  margin: 0 0 16px;
  text-align: center;
  padding-top: 20px;
}

.fivestar-detail-container span {
  display: inline;
  line-height: 20px;
  text-align: center;
  color: rgb(51, 51, 51);
  font-family: "Gotham Rounded Book";
}

.button {
  background-color: #ffffff;
  border-radius: 5px;
  color: #333333;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  font-family: "Gotham Rounded Book";
  line-height: 42px;
  padding: 0 15px;
  text-align: center;
  text-decoration: none;
  margin-top: 20px;
}

/* 獨家服務 section */
.service-section {
  background-color: #ffffff;
}

.service-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.service-title h2 {
  color: #333333;
  font-family: "Gotham Rounded Book";
  font-size: 35px;
  line-height: 42px;
  margin: 0 24px 16px;
  text-align: center;
  padding-top: 40px;
}

.service-content {
  color: #333333;
  font-family: "Gotham Rounded Book";
  font-size: 12px;
  letter-spacing: 3.504px;
  line-height: 24px;
  margin: 0 24px 12px;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (min-width: 1024px) {
  .header-container {
    padding: 20px 30px;
  }
  .headerlogo {
    width: 201px;
    height: 44px;
  }
  .header-menu-search__icon {
    margin: 0 12px 0 24px;
  }
  .right-svg-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  .header-login-section {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header-minibag-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .contact {
    display: unset;
    font-size: 9px;
    font-weight: 500;
    max-width: 70px;
    word-break: break-word;
    line-height: 13.05px;
    letter-spacing: 0;
  }
  .login {
    display: unset;
    font-size: 9px;
    font-weight: 500;
    max-width: 70px;
    word-break: break-word;
    line-height: 13.05px;
    letter-spacing: 0;
  }
  .shopping {
    display: unset;
    font-size: 9px;
    font-weight: 500;
    max-width: 70px;
    word-break: break-word;
    line-height: 13.05px;
    letter-spacing: 0;
  }

  .contact {
    display: unset;
    font-size: 9px;
    font-weight: 500;
    max-width: 70px;
    word-break: break-word;
    line-height: 13.05px;
    letter-spacing: 0;
  }
  .right-svg-container {
    width: 115px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .nav-container {
    display: unset;
    width: 1250px;
  }

  .nav-container ul {
    margin: 8px 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 60px;
    padding-bottom: 20px;
  }

  .nav-container ul li a {
    font-size: 11px;
    text-decoration: none;
    letter-spacing: 0.44px;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;
    color: black;
  }
  .double11-container {
    display: flex;
    flex-direction: row;
  }
  .double11-detail-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33.33%;
  }
  .double11-image {
    width: calc(100% - 33.33%);
  }
  .feature-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    text-align: center;
    padding: 20px 10px;
  }
  .feature-title {
    width: 358px;
    padding: 0 24px 0 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 0 16px;
  }
  .feature-title {
    width: 36%;
    font-family: "Gotham Rounded Book";
    font-weight: bold;
    text-align: left;
  }
  .feature-content-container {
    width: 36%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 24px;
    border-left: 1px solid black;
    height: 128px;
  }
  .feature-flower-image {
    width: 27%;
  }
  .reassurance-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
  }
  .reassurance-card {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  .reassurance-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .skin-card-container {
    display: flex;
    flex-direction: row;
    padding-bottom: 40px;
  }
  .fivestar-section {
    display: flex;
    flex-direction: row;
    padding: 0 30px;
  }
  .fivestar-container {
    width: 50%;
    height: 100%;
  }
  .fivestar {
    padding: 0 80px;
  }
  .fivestar-detail-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .service-title h2 {
    font-size: 48px;
    line-height: 58px;
  }
  .service-content {
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 4.004px;
    margin: 0 24px 12px;
  }
}
